[2016-03-17 01:29] nicholasio opened #3 "Restrict Site Access blocking REST requests even if the site visibility option is set to the default value"
The plugin is blocking REST API requests even if the site visibility option is set to "Allow search engines to index this site".

We had a issue where the plugin was network activated but only restricting access for an one specific site within the network and REST API has stopped working for all sites.

[2016-03-17 03:55] ivankruchkoff commented on #3
If you're not using oAuth1, feel free to drop that out of your conditional.

[code]

[2016-03-23 23:07] johnpbloch commented on #3
@nicholasio could you test out the changes in #5 to see if it fixes your issue? I have a hunch they're related.

[2016-03-24 00:09] nicholasio commented on #3
@johnpbloch I've just noticed that the issue is only happening with code from the master branch, the develop branch and your PR are not blocking REST requests.

[2016-03-29 20:45] Shelob9 opened #7 "Add ability to make REST API accesible when in restricted mode."
I was hoping to use this to lock out front-end for a site that just serves REST API. I have a PR to make that possible. This is a different case than #3 but similar.

[2016-06-15 12:19] JonBellah opened #9 "RSA does not work with WP Engine staging"
WP Engine has a custom MU plugin that forces the "Discourage search from indexing this site" option in the admin. This directly conflicts with our ability to set the login wall for RSA.

Currently, there's not really any way to get around it short of opening a ticket with WP Engine to get them to disable their plugin, which is often re-enabled by a cron or other maintenance that they do.

Any oppo

[2016-10-19 21:33] AaronHolbrook commented on #7
Yea, this doesn't work even when whitelisting your own IP.

[2016-11-17 23:19] JPry commented on #9
@JonBellah The problem should be easy enough to get around. I wrote a plugin to do just that a while back: https://github.com/PrysPlugins/WPE-Allow-custom-blog_public-on-staging.

The method of forcing the option is this piece of code:

[code]

[2017-03-09 05:38] ivankristianto opened #12 "Page Caching with RSA Solution"
If the page is served from the page cache, then it will bypass the RSA checking.
there is no way we can hook it before the page cache has been served.
Solution I propose:
We disable RSA if any if the page caching is enabled. And give notification to the user. And encourage them to disable the page caching to enable the RSA back.

what do you think @tlovett1 ?

[2017-03-09 05:40] ivankristianto opened #13 "Multisite restriction workflow solution"
Once the RSA plugin network activate, it will disable the entire network.
So what I propose is:
1. Add another option in RSA setting, to allow the admin user to disable it
2. The network admin have extra one admin panel to enable/disable for each site.

what do you think @tlovett1 ?

[2017-03-09 15:21] jakemgold commented on #12
I don't think we should disable it - but I think we need to show a
prominent warning in the admin.
On Wed, Mar 8, 2017 at 9:38 PM Ivan Kristianto <notifications@github.com>
wrote:

--
Jake Goldman • 860.990.7044 • @jakemgold

[2017-03-09 15:23] jakemgold commented on #13
Can't individual sites override the defaults set at the network level?
There's more UX thinking that needs to happen here. TL - perhaps you and I
can discuss.
On Wed, Mar 8, 2017 at 9:40 PM Ivan Kristianto <notifications@github.com>
wrote:

--
Jake Goldman • 860.990.7044 • @jakemgold

[2017-03-09 15:59] jakemgold commented on #13
I think there might be some confusion around the intention of the multisite
panel. We should regroup on the intended user experience / user flow here.
On Thu, Mar 9, 2017 at 7:51 AM Ivan Kristianto <notifications@github.com>
wrote:

--
Jake Goldman • 860.990.7044 • @jakemgold

[2017-03-09 20:51] #9 closed

[2017-03-09 21:06] tlovett1 commented on #13
Here is how I see this working:

There should be three levels of settings when the plugin is network activated.
1. Blog level settings (same as always):
    * Allow search engines to index this site
    * Discourage search engines from indexing this site. Note: Neither of these options blocks access to your site — it is up to search engines to honor your request.
    * Restrict site access to visi

[2017-03-09 21:08] tlovett1 commented on #12
Why not just flush the page cache every time an RSA setting is changed?

[2017-03-10 10:20] ivankristianto commented on #12
@tlovett1 it won't work for case when the ip is whitelisted.
If the cache is created when the ip is whitelisted, then that page would be opened for other visitors.
And vice versa.

[2017-03-10 15:55] ivankristianto commented on #13
@jakemgold and @tlovett1
I have done add the settings page in **Network Setting**s page.
So It would be like this:
![screen shot 2017-03-10 at 22 52 48](https://cloud.githubusercontent.com/assets/656006/23802005/86f4741a-05e4-11e7-9b58-deed1ebb9cab.png)
When this "default" mode active, it will follow the each blog/site local settings

![screen shot 2017-03-10 at 22 53 02](https://cloud.githubuserc

[2017-03-10 16:45] tlovett1 commented on #13
Hey @ivankristianto, this is close. However, the default mode is incorrect.

Default mode lets you set the default settings when a new site is created. Therefore it should show the restricted fields.

[2017-03-11 00:37] jakemgold commented on #13
In terms of copy, it should say:

“*Default* to these settings below when creating a new site”

and

“*Enforce* the settings below across all sites”

Open to feedback

On Fri, Mar 10, 2017 at 8:46 AM Taylor Lovett <notifications@github.com>
wrote:

--
Jake Goldman • 860.990.7044 • @jakemgold

[2017-03-11 00:37] jakemgold commented on #13
Corrected grammar:

“*Default* to the settings below when creating a new site”

and

“*Enforce* the settings below across all sites”

:-P

On Fri, Mar 10, 2017 at 4:36 PM Jake Goldman <jake@10up.com> wrote:

--
Jake Goldman • 860.990.7044 • @jakemgold

[2017-03-11 10:02] ivankristianto commented on #13
After do some thinking.
I've added the "Site Visibility" option to the network settings.
![network settings network admin- 10up sites wordpress](https://cloud.githubusercontent.com/assets/656006/23822264/550d0ece-067c-11e7-930b-f8eb2e812f42.jpg)

Reasons:
1. The network admin could set the site visibility to all sites
2. To keep the consistency

Let me know your feedback

[2017-03-11 14:52] jakemgold commented on #13
Definitely the right way to go.
On Sat, Mar 11, 2017 at 2:02 AM Ivan Kristianto <notifications@github.com>
wrote:

--
Jake Goldman • 860.990.7044 • @jakemgold

[2017-03-11 20:04] tlovett1 commented on #13
This looks good to me. @ivankristianto let me know when you have a PR for me to review.

[2017-03-11 20:19] TheLastCicada commented on #13
Excited to see work on this issue - it has been on my wishlist for this plugin for a long time!  I think this is a great looking solution and will save me lots of time in the future!

[2017-03-11 20:53] jakemgold commented on #13
Thanks, Zach.

Thinking about the UX this morning, it occurs to me we may want to
differentiate between enforcing the first setting (whether the site is
open, blocking crawlers, or blocking all visitors) and the latter settings.
It seems like a common use case might be forcing a block on all sites, but
letting individual site administrators (1) determine how they want to
handle the blocking, e.g.

[2017-03-11 20:59] TheLastCicada commented on #13
Agree, might be nice to manage the enforcement of each separately.  My main use case is for new multisites and things like Intranet multisites where we need to enforce a certain setting across the multisite.  Having to do that on a site by site basis is error prone and tedious.  The proposed solution is a great solution for this.

[2017-03-12 10:11] ivankristianto commented on #13
@tlovett1 please review this PR: https://github.com/10up/restricted-site-access/pull/15

[2017-04-19 18:28] tlovett1 commented on #13
@ivankristianto I've pushed a bunch of work for this to the develop branch. Mind testing all the different scenarios?

[2017-05-09 12:27] lkraav opened #16 "BuddyPress pages are displayed unrestricted, when Handle === "Show them a specific WordPress page I've created""
Here's a potential idea for a patch from a guy from the plugin support forums, but it's clearly too raw and out of date for pulling

https://wordpress.org/support/topic/buddypress-pages-are-displayed-when-using-show-a-wordpress-page-option/
https://gist.github.com/imath/792699d96f60d3b10557

Does anybody here have insight towards a clean solution or do I have to dig in from scratch?

[2017-05-16 20:35] tlovett1 commented on #13
@ivankristianto I fixed the redirect code bug. Mind testing again?

[2017-05-17 05:38] ivankristianto commented on #13
@tlovett1 Bug fixed. All other use cases has been tested and good 👍

[2017-07-03 12:25] #13 closed

[2017-07-03 12:26] #12 closed

[2017-07-13 13:18] colis opened #18 "Permission issues"
Hi,

I'm using the plugin on a multisite but I'm experiencing a weird behaviour on one of the blog of the network. I'm being redirected to the log-in page every time I try to save settings and, even after the log-in, I'm not able to confirm the settings. However the most serious issue now is that I can't deactivate the plugin and revert to the previous state.

Any suggestions?

[2017-08-01 20:49] mckernanin opened #19 "Filter in a mu-plugin prevents admin options from loading correctly"
I added a filter in a mu-plugin, like this:

[code]

When accessing the site, I get blank reading settings in the admin. I fixed the issue by modifying my_register_hooks as follows:
[code]

[2017-08-27 20:56] thomasbonsirven opened #20 "$is_restricted = false; for mailster"
Hello

All is in title..
I search a solution for not restrict :
1- the link mailster
2- the post_type newsletter
3- the archive page mailster

i try to inspired to :

`add_filter( 'restricted_site_access_is_restricted', 'my_rsa_feed_override', 10, 2 );

function my_rsa_feed_override( $is_restricted, $wp ) {
	// check query variables to see if this is the feed
	if ( ! empty( $wp->query_vars['feed']

[2017-09-19 19:28] dws122 opened #21 "PHP warnings when using PHP v7.1.9"
Two error warnings are displayed when using PHP V7.1.9.  These errors are not display when using PHP 7.0.23

Warning: A non-numeric value encountered in /site/public_html/wp-content/plugins/restricted-site-access/restricted_site_access.php on line 235

Warning: A non-numeric value encountered in /site/public_html/wp-content/plugins/restricted-site-access/restricted_site_access.php on line 235

[2017-10-02 03:11] ivankristianto commented on #21
This is because PHP 7.1 strict warning
http://php.net/manual/en/migration71.other-changes.php

We can change that line 233-235 to:
[code]

[2017-12-11 14:52] ryanwelcher opened #22 "Other modules using `parse_request` hook are broken by remove_action"
It seems that other plugins/themes hooking into `parse_request` are interfered with by the plugin.

Comment found on https://10up.com/plugins/restricted-site-access-wordpress:

[2017-12-12 00:38] ryanwelcher commented on #19
@mckernanin thank you for reporting and sorry for the delayed response. I am trying to reproduce this locally using the code you've provided but am not able to.

I have taken the following steps:
1. Created a mu-plugin that contains the code you indicated did not work.
2. Enabled the RSA plugin ( master branch )

Does this issue still persist for you? If so, I would recommend disabling other plugi

[2017-12-12 00:43] ryanwelcher commented on #18
@colis Sorry for the delayed response and thank you for reaching out!

Does this issue still persist for you?

In terms of deactivating the plug in you can try doing that with WP_CLI if you have it available to you. Here is a[ link to the command](https://developer.wordpress.org/cli/commands/plugin/deactivate/)

[2017-12-22 05:06] lkraav commented on #21
I confirm, this should be safe to ship.

[2018-01-04 02:54] adamsilverstein commented on #7
@Shelob9 I think you can use the existing `restricted_site_access_is_restricted` filter for this, see https://github.com/10up/restricted-site-access/pull/8#issuecomment-355186577

[2018-01-04 03:19] adamsilverstein commented on #16
@ikaav Thanks for the issue report (and apologies for the delayed response)...

Can you or @imath give some more details on how do reproduce? Do I just need to activate buddypress, chose the 'show a page option' then test out loading a restricted page? Can you put the proposed patch in the form of a pull request so it is easier to see and test the changes?

[2018-01-04 03:21] adamsilverstein commented on #3
I believe blocking REST API requests is the expected behavior unless you have reading settings unrestricted... Is this still an issue @nicholasio ?

[2018-01-04 03:24] adamsilverstein commented on #20
@thomasbonsirven apologies for the delayed resopnse.

try leaving out the first part of your conditional, that way only the newsletter query var will matter:
`if (  ! empty( $wp->query_vars['newsletter'] ) ) {`

also, are you sure 1class_exists ( 'newsletter-template-default' )` is true?

[2018-01-04 03:48] imath commented on #16
Hi @adamsilverstein & @lkraav

Sure I'll post a PR here ;)

[2018-01-04 11:06] nicholasio commented on #3
@adamsilverstein I haven't experience this anymore, so we can close this out.

[2018-01-04 11:06] #3 closed

[2018-01-04 13:20] lkraav commented on #16
@adamsilverstein yeah, it's exactly how you thought:

1. activated buddypress
2. configure a few groups
3. configure the groups "page"
4. watch RSA fail to match it

[2018-01-04 14:04] adamsilverstein commented on #16
@lkraav great - thanks for confirming the steps to reproduce, I'll give this a test. @imath - super, thank you!

[2018-01-04 14:16] adamsilverstein commented on #16
@lkraav I'm not sure I did this right - step 3 - "configure the groups "page", do you mean select it as the "Show them a page" option?

![](https://cl.ly/3R2T152d1Q19/Monosnap_2018-01-04_09-14-57.jpg)

When I tested this I was sort of directed to the group page - the url is incorrect and the page failed to load correctly and was blank. Happy to test a PR and dig into this further. Thanks for the b

[2018-01-04 17:18] lkraav commented on #16
@adamsilverstein no, the restricted page should actually be something else.

The problem is that Groups page doesn't get RSA protection redirect to the configured restricted notice page.

[2018-01-12 23:17] jeremyfelt commented on #21
It seems like using `(int)` here would be "masking" over the issue. :)

From what I can tell, `$mask` is always a string of something like `'fffffff'` and `'fffffff' % 4` will always evaluate to 0.

I'm going to take this chunk of code out of our production environment entirely to avoid the PHP warning. At first glance it looks like refactoring the IP range/mask checking completely through somethi

[2018-02-06 18:37] swissspidy commented on #21
Any ETA on a new release because of this?

[2018-02-06 20:42] adamsilverstein commented on #21
@swissspidy We are working on this issue and should have an update soon.

[2018-02-28 14:25] #21 closed

[2018-04-12 14:45] ryanwelcher commented on #22
@adamsilverstein I think #26 addressed this - can you confirm?

[2018-04-12 14:46] adamsilverstein commented on #22
yep!

[2018-04-12 20:26] ryanwelcher opened #31 "Argument mismatch for filter causes Reading options to fail to render"
There are two instances where the `restricted_site_access_is_restricted` filter is fired.

In the first, there are two parameters passed:
`apply_filters( 'restricted_site_access_is_restricted', $is_restricted, $wp )`

https://github.com/10up/restricted-site-access/blob/develop/restricted_site_access.php#L213

the second has a single parameter:
`apply_filters( 'restricted_site_access_is_restricted'

[2018-04-13 06:32] roytanck opened #33 "Use user roles to determine access on multisite?"
I've been evaluating this plugin for deployment in a large project, and I found the following behavior unexpected.

When a user is logged in to a network, he/she can then visit all blogs on the network, even when the user has no role on a particular blog. I consider having no role (not even subscriber) on a blog to be "worse" than not being logged in, so I was expecting these users to be restricte

[2018-04-16 23:34] ptasker commented on #33
Came here to ask the same! I'm working on a fork of the plugin right now to implement this behaviour.

[2018-04-16 23:41] jakemgold commented on #33
Thanks for the suggestion. We're going to investigate this week, but my quick take is that this is a valid issue, and one we'll want to address pretty quickly with an update. No need to fork quite yet @ptasker !

cc @dkotter

[2018-04-16 23:43] ptasker commented on #33
Cool, I'll stay tuned! Need to get this running on a MS install ASAP, but if you guys get on it that's awesome. I'll see if any of the hooks will do the trick for now. Cheers.

[2018-04-17 00:10] dkotter commented on #33
@ptasker I believe you can use the `restricted_site_access_is_restricted` filter for this (though I haven't actually tested that). But yes, this seems like an oversight we'll want to fix in the plugin itself, probably using similar logic that @roytanck mentions above. Stay tuned for an update here.

[2018-04-17 01:01] ptasker commented on #33
Should also mention that using the `restricted_site_access_is_restricted` filter didn't work for me. I'm also on WP Engine so the `RSA_IS_NETWORK` constant is no good. The way the cookies are being set I need to activate the plugin on each site, having the login cookie unique to each site, rather than having it network enabled.

[2018-04-17 15:26] #31 closed

[2018-04-18 13:34] roytanck commented on #33
Thank you all for looking into this. Just a quick note: it seems like the `restricted_site_access_is_restricted` hook indeed provides a usable workaround. Here's the code I'm using.
[code]
I prefer to separate the multisite check from the regular one for readability. Of course, having this behavior in the plugin itself is highly preferable.

[2018-04-24 19:30] ryanwelcher commented on #19
Closing as a duplicate of #31 which was addressed with #32

[2018-04-24 19:30] #19 closed

[2018-05-16 07:27] roytanck commented on #33
@dkotter Any idea when this fix will make it into a release version?

[2018-05-16 20:44] helen commented on #33
@roytanck I'm currently reviewing this for a release this week; since it's a functional change that touches on the core functionality I'm doing a lot of extra testing. In doing so, I noted a situation that is somewhat uncommon but does come up - what do you think should happen for users who are a member of a site but have no role for that site?

[2018-05-16 21:01] roytanck commented on #33
@helen If I remember correctly from a previous project some time ago, that mostly happens with network admins, right? My first instinct is to require a role, but I'm wondering how you'd become a member without being at least subscriber (if you're not a network admin).

[2018-05-16 21:09] helen commented on #33
@roytanck I'm not sure how other people use it, but an example situation would be for an intranet where somebody leaves and you don't want to lose their authorship on posts by removing them from the site but also want to explicitly indicate that they no longer have a functional role for the site. IMO they should be blocked from viewing the site as well but since you're the reporter I thought you m

[2018-05-16 21:14] roytanck commented on #33
@helen Thank you for that :). I think I also remember a situation where a plugin (may have been Gravity Forms) assigned capabilities to users directly in a multisite setup, which also made the users members (?).

In both cases, blocking them would be preferred in my opinion.

[2018-05-17 13:35] helen commented on #33
Reopening for further addressing. @roytanck - how does #35 look to you as a fix? This would allow the original behavior to be easily restored using the following:

[code]

[2018-05-17 14:00] roytanck commented on #33
@helen This looks wonderful to me. Very clean, and the hook is nice to have in place for all sorts of potential scenarios. Thank you!

[2018-05-17 20:30] #33 closed

[2018-05-22 00:50] helen opened #36 "Logged-in users getting a login loop when viewing the front of site"
From https://wordpress.org/support/topic/login-redirect-problem-with-6-2-0/

This appears to be an issue with single site, I've already identified the problem and will open a PR shortly. I clearly missed something in my manual testing and we should open an issue to investigate how to do more automated testing of different scenarios.

[2018-05-22 00:54] #36 closed

[2018-06-16 17:18] pattonwebz opened #38 "Allow more tags in the 'Restriction Message' field."
This issue is created for a support thread on the .org forums: https://wordpress.org/support/topic/unable-to-put-image-in-restriction-message/

To allow more tags we could filter this by `$allowedposttags` instead. That should still be relatively secure but we could additionally wrap the output of our settings fields with permissions checks for the user to be defensive with it if necessary.

https

[2018-07-02 09:37] roytanck opened #39 "Multisite - Redirect loop when logging in as user with no role"
My client's team noticed this when test testing version 6.2.1 of the plugin on multisite.

* A site in our multisite install is restricted, and set to "send them to the WordPress login screen".
* User has no role on this specific site, but types in the site's URL or follows a link.
* Login screen appears, and user is able to log in using valid credentials.
* After significant time, Chrome diplays

[2018-08-10 15:25] ChaosExAnima opened #42 "Settings page JS doesn't work if no pages exist"
I noticed a minor visual bug where if there are no pages defined in the site, the dropdown does not render. This leads to the page row being not hidden, as the Javascript searches for the ID of the dropdown.

Example:
![screenshot from 2018-08-10 11-24-50](https://user-images.githubusercontent.com/1760168/43966530-22792244-9c90-11e8-96b2-0b7fd1e0842f.png)

[2018-08-16 22:32] pattonwebz opened #44 "Unnecessary slash added after `plugin_dir_url()`"
Reported at: https://wordpress.org/support/topic/double-slash-in-plugins-admin-js-urls-causes-404-in-gae/

[2018-08-28 18:11] #42 closed

[2018-08-28 18:12] #44 closed

[2018-08-28 18:42] helen commented on #39
I guess the path of least resistance here would be to redirect the user to their main dashboard as happens when you log into a network but are not a member of the main site. However, I think that would be confusing for somebody in practice - they think they're heading to one site but end up in the admin of another instead.

Another thing to do would be to show a custom message instead since it see

[2018-08-29 10:28] roytanck commented on #39
I agree that the core message is pretty accurate, and listing the user's sites is helpful. As a test I hooked the following function into 'init', and that seemed to work well.

[code]
The word 'dashboard' may be a bit unexpected to the user, but it's certainly better than redirecting them to their profile when they were attempting to view a blog's front end imho.

[2018-08-29 17:48] #16 closed

[2018-08-29 17:51] helen commented on #38
I guess the UX issue here is that the quicktag buttons in the "simple message" editor give you things like `img`? I'm not opposed to allowing more tags, although that will probably come down to what really can/should show in a `wp_die()` message.

[2018-08-29 17:51] helen commented on #20
Closing without further reporter feedback.

[2018-08-29 17:51] #20 closed

[2018-08-29 17:52] helen commented on #18
Closing pending further reporter feedback.

[2018-08-29 17:52] #18 closed

[2018-08-29 18:07] helen opened #46 "Settings can become disconnected on the settings page"
If more reading settings have been added, they separate `Site Visibility` from the extended RSA options. See `REST API Availability` in the screenshot below (not a part of RSA).

![screen shot 2018-08-29 at 12 06 39 pm](https://user-images.githubusercontent.com/906334/44806388-17e95300-ab84-11e8-91ff-a1684f242c4b.png)

[2018-08-29 18:10] helen commented on #39
I like the idea of being able to just wholesale reuse `_access_denied_splash()` even though the word "dashboard" is a little imperfect. I don't really want to recreate the whole message. However, in my testing, I am not getting an infinite redirect loop in Chrome - it just keeps sending me back to the login screen. I don't know if that warrants a fix then - @roytanck can you test again and let me

[2018-08-29 21:11] helen opened #47 "Use .org language packs"
To do this you:

* Require at least WP 4.6
* Set the Text Domain plugin header
* Remove the text domain load call and any bundled localization files

.org translations viewable here: https://translate.wordpress.org/projects/wp-plugins/restricted-site-access

[2018-08-29 22:17] #47 closed

[2018-08-30 06:56] roytanck commented on #39
@helen Yes, this is still happening.

I've disabled as many plugins as possible, and set the restricted blog to use a "Twenty" theme. Initially, I get redirected to the login screen, as expected. I then enter valid credentials for a user that has no role in the blog (but exists in the network). IE11 gets absolutely stuck, while Chrome stops after a while and reports a "too many redirects" error.

[2018-08-30 15:16] helen commented on #39
I still haven't been able to reproduce this in Chrome on MacOS using your steps :( Here are the scenarios I've tried (all variations):

* User who is not a part of the site (member of blog)
* User who is a part of the site but assigned to have no role
* Primary site on network restricted
* A different site on network restricted

[2018-08-30 16:15] helen commented on #38
I think there are a couple things:

1. The quicktags toolbar probably needs to have some things removed, such as the `more` tag. I would also suggest removing `del` and `ins`.
2. We should be clear and specify which tags to allow, specifically matching the ones we keep in the toolbar and allowing a few more behind the scenes (`div` is probably fine, for instance).

We should also check to make sur

[2018-08-31 01:45] helen opened #51 "Review internationalization"
I noticed some things when reviewing the WP CLI integration and we could probably do with a general review of strings. Some examples:

* Improper use of a placeholder (I believe it can be the word `site` or `network`), as in other languages different words can affect the sentence as a whole, not just the placement of the word. e.g. [wp-cli.php#L368](https://github.com/10up/restricted-site-access/b

[2018-08-31 01:50] helen opened #52 "Add contributing guidelines"
As advertised :) We can pull from another 10up plugin and adjust accordingly.

[2018-08-31 08:15] roytanck commented on #39
@helen I set up a new Vagrant with a brand new multisite install, and no plugins besides this one. It seems that I'm now unable to reproduce the problem as well.

* When my "no-role" user first logs into the subsite, they get taken to http://multisite.test/wp-admin/user/ .
* If I thenm type "http://multisite.test/subsite/wp-admin" directly into the address bar, I get the following message:

"You a

[2018-09-01 11:24] lkraav opened #53 "7.0.0: not logged in visitors thrown into infinite redirect loop"
CONFIGURATION
Handle restricted visitors -  "Show them a page"
Restricted notice page - "..." (global front page selected)
Unrestricted IP addresses - 1 entry

No configuration changes other than updating 6.2.1 (error free operation for months) => 7.0.0.

[code]

Re-saving Reading settings screen did not help.

Rolling back to 6.2.1 resurrected site immediately.

[code]

Something may be off with

[2018-09-01 13:01] helen commented on #53
Could you tell me what your settings are for the plugin? Is this just a regular page or something like page for posts?

[2018-09-01 15:14] lkraav commented on #53
Good point. Posted configuration in the opener.

[2018-09-03 16:16] helen commented on #39
No worries, I believe you by default but we have to figure out how to reproduce it :) It looks like in #53 they're on Apache whereas my environment (VVV) is Nginx. Maybe that's the issue? Is your project site using Apache?

[2018-09-03 16:17] helen commented on #53
I'm still not having any luck reproducing this (or #39 which is also a redirect loop issue) - I'm now wondering if it's an Apache issue. Will look at finding/setting up an environment to test that sometime today unless somebody else get there first.

[2018-09-03 17:41] lkraav commented on #53
I'm also finding our staging site is *not* exhibit this redirect loop on 7.0.0.

I will find a weekend slower traffic slot to try to get a quick debug session in on the live server.

[2018-09-04 07:14] roytanck commented on #39
Well, our dev servers for this project run Nginx, while our local dev environments use an old version of Apache. This is unfortunate in itself, but the issue is reproducable on both, so I don't think the web server  itself is the cause (although you can of course configure both of them incorrectly).

[2018-09-04 14:10] helen commented on #39
Ah, interesting, okay. Well, I can't rest satisfied until we figure out the cause, even if it's not RSA, so I'll keep an eye out for any other reports or seemingly related matters, and if you ever figure it out, I'd love to hear about it!

[2018-09-05 08:17] roytanck commented on #39
Thank you, @helen . I've done some additional testing, and am able to reproduce the issue on my client-issued development local dev environment. I used a completely new WordPress 4.9.8 install with no plugins or themes other than the default.

The local server is an older version om XAMPP on Windows (don't ask...):
`Server: Apache/2.4.23 (Win32) OpenSSL/1.0.2h PHP/5.6.28`

Is created a brand new v

[2018-09-05 09:55] lkraav commented on #53
I was wrong, staging site reproduces the exact same redirect loop.

Debugging shows `if ( ! isset( $wp->query_vars['pagename'] ) || $wp->query_vars['pagename'] !== $page->post_name )` conditional to fail, because `$wp->query_vars` is empty altogether, so `isset( $wp->query_vars['pagename'] )` will fail.

[2018-09-05 13:37] helen commented on #53
I woke up this morning wondering if it was a page on front issue and couldn't remember if I had tested that particular "virtual page" configuration, since the change was for BuddyPress virtual pages, which I did test. Seems like it: https://wordpress.org/support/topic/version-7-0-and-infinite-redirects/

The tests are pretty minimal at this point, it's on my radar to get them more fully fleshed ou

[2018-09-05 13:39] helen commented on #39
Thanks for the super detailed instructions! I wonder if it lies with having a user that's assigned to no sites at all. I will take a look at reproducing this.

[2018-09-05 13:53] roytanck commented on #39
I just made Henk a subscriber on the main site, and this does not help when logging into the restricted subsite. Promoting him to editor did also not improve the situation.

I tried a lot of configurations, and at some point got redirected to the user's profile page instead of going into the loop. I'm certain that was with the plugin activated on the restricted site only, not network-activated. Bu

[2018-09-05 22:11] helen commented on #53
@lkraav @leoland I've opened PR #54 as a proposed way to fix this - could you possibly test and let me know if it works for you?

Unfortunately this all happens before `get_queried_object()` is useful, so that's the best conditional I could come up with. Would love any other ideas as it seems potentially fragile to me - if `$wp->query_vars` is empty somewhere other than the static front page I *th

[2018-09-06 01:51] helen opened #55 "Testing: implement automated tests + write manual functional test instructions"
Popular plugin that is supposed to help you with site privacy with an array of options - very important we test all situations and ensure they continue to work as expected through changes in the plugin and WordPress core, both in an automated fashion and manually during release prep.

I am not sure that automated tests can be thorough without actually bootstrapping WordPress, i.e. I'm not sure `WP

[2018-09-06 02:53] leoland commented on #53
@helen, will test in the AM, I am curious and will see if can spot why it works in the previous version under the same scenario.

[2018-09-06 12:26] leoland commented on #53
Yup works wonderfully for me, thank you @helen you are a golden goddess! And thank you @ikraav for all the indeepth diggins. Best as I can tell, we are checking if the user can access before we are checking for the page itself meaning this potentially suboptimal ness only happens once. if that is indeed the case I don't think it needs worrying too much maybe?

[2018-09-06 15:53] helen commented on #53
`get_option()` is cached and these should be in the `alloptions` cache, I'm not too worried about it. Functions like `is_front_page()` would do the same `get_option()` calls if we could use them at this point.

I am also unsure why it worked previously other than probably not on purpose, the fix for the BuddyPress issue in #16 is already somewhat esoteric IMO so I'm unfortunately not surprised it

[2018-09-06 18:09] #53 closed

[2018-09-07 06:32] lkraav commented on #53
Well the commit diff shows the conditional was previously using a simpler strategy.

I'm sure this will iterate itself to perfection soon enough, as we go along with learnings here.

[2018-10-05 14:53] petenelson commented on #55
I can take a stab at this. I've been doing a lot more [unit testing](https://github.com/petenelson/wp-unit-tests) recently.

[2018-10-10 20:18] petenelson commented on #55
I have about 48% code coverage so far and automated tests running here: [https://travis-ci.org/petenelson/restricted-site-access](https://travis-ci.org/petenelson/restricted-site-access)

[This branch](https://github.com/petenelson/restricted-site-access/tree/feature/updated-unit-tests) has all of the new unit tests code and is still a work-in-progress. I'll get a PR opened for this once it's clos

[2018-11-20 04:28] TheLastCicada opened #57 "Idea: add a "comment" or "label" field for the "Unrestricted IP addresses""
When I use this plugin, I often see a list of "Unrestricted IP addresses" that have access to view the site without logging in.  This is great, but I can only assume these IPs are still legit and useful because I really don't know who these belong to.  Creating an associated comment or meta data for each IP would be really useful where users could enter context about the IP that is whitelisted.  I

[2019-01-08 22:29] brandwaffle opened #60 "Setting the 'public' attribute in wp_blogs to > 1 breaks get_sites() functionality"
In order to maintain the statuses set in the dashboard, RSA sets the 'public' attribute of the wp_blogs table to 2, 3, or 4. According to the WP docs for get_sites(), the 'public' parameter should be either 0 or 1, so the RSA status should likely be stored somewhere else (e.g. an options or sitemeta table) rather than overriding default WP DB behavior.

[2019-01-09 02:50] jakemgold commented on #60
Thinking back years (like, 7 years :P) to when I took this approach... I know that the default expectation is 1 or 0 but the solution to use a new, higher numeric value had intentionality behind it. Notably, WordPress checks to see if the value is "true" in a number of places, by default, to set it to "no index" (IIRC). By using a higher numeric value, in the event the plugin is somehow ripped out

[2019-01-09 16:13] brandwaffle commented on #60
@ryanwelcher I think @jakemgold makes a good point about unintended "publication" of the site in the event the plugin is deactivated. That said, I do think we want to maintain compatibility with WP core functions, and since having an integer in the 'public' field > 1 does break that core functionality per https://developer.wordpress.org/reference/functions/get_sites/.

(int) Limit results to publi

[2019-01-09 16:41] ryanwelcher commented on #60
@brandwaffle this sounds like a good approach to me.

If the plugin is deactivated or broken, the option will still in place. We'll most likely need an upgrade routine for existing installs so users don't have to re-save the settings.

@jakemgold if this sounds acceptable to you, I'll get the PR started

[2019-01-09 20:11] ryanwelcher commented on #60
@brandwaffle I've added a PR for this here #61

[2019-01-18 20:53] m4m-simon commented on #7
I have the same usecase. Why not add "allow Rest-Api" as an Option for the Admin?

i helped myself with a little modification in the "restrict_access" method:
[code]

[2019-01-22 17:21] ChaosExAnima opened #63 "Allow config constant to enforce restriction"
It may be a useful feature to have a way to define a constant to ensure RSA is in restricted mode for all sites. I see the use case as a staging site where the database can easily be synced from prod, turning off RSA accidentally. Alternatively, this could also apply to the reverse, where a migration happens and RSA is turned on for a live site.

This config could be defined in `wp-config.php`, an

[2019-01-22 19:54] helen commented on #60
So after investigating this a bit and figuring out that this is not a critical issue in itself at the moment after all, I'm going to pause work. We will need to keep an eye on the core REST API in the future in case values besides 0/1 are discarded or otherwise cannot be handled appropriately, but given that there are other plugins out there as well as .com itself that store non 0/1 values in this

[2019-01-25 17:50] ChaosExAnima commented on #63
Tagging @helen and @tlovett1 - This a good idea? I can open a PR if you'd like :)

[2019-02-05 22:49] adamsilverstein commented on #7
@m4m-simon nice! you should be able to much the same in a callback hooked on `restricted_site_access_is_restricted` to achieve the same results without modifying the method itself.  return false to allow the request to go thru.

@AaronHolbrook I don't think this is still true, if it is can you please open a new issue.

[2019-02-05 22:50] adamsilverstein commented on #7
Closing this issue as stale, please feel free to re-open if there is additional work here.

[2019-02-05 22:50] #7 closed

[2019-02-06 14:33] #60 closed

[2019-02-06 21:55] adamsilverstein commented on #63
Seems like a useful enhancement to me!

[2019-02-10 20:14] lkraav opened #64 "Ensure docs and readme specifically note intention for "Restricted site access" / "Discourage search engine" functionality"
Goal: ability to selectively combine effects of

* "Discourage search engines from indexing this site"
* "Restrict site access to visitors who are logged in or allowed by IP address"

Expected `/robots.txt` output:

[code]

It's almost like "Restricted site access" or "Discourage search engine" should become an "add-on" type checkbox, instead of "pick one" radio button.

Your thoughts?

EDIT I won

[2019-02-10 20:54] lkraav commented on #64
Writing a simple integration override plugin, it dawned on me that it would be useful if magic number `$blog_public 2` would be defined as a class variable, so not only inside code, but also outsiders could consistently reference it.

[2019-02-11 13:27] Sef1995 opened #65 "Whitelisted IP gets redirected"
I have my IP whitelisted but when I visit the website I still get redirected to the redirect URL. Also when I deactivate the plug-in the redirection is still happening.

[2019-02-11 13:40] lkraav commented on #65
Browsers cache redirects aggressively. Your report doesn't include information whether you've tested clearing browser cache.

[2019-02-12 18:15] jeffpaul commented on #64
@lkraav could you help provide a use case where this would be useful?  If I'm understanding your request correctly, then I'm unable to foresee a scenario where I'd want to restrict visitors by IP while letting search bots index the site (if that's truly what you're asking).

[2019-02-12 18:17] jeffpaul commented on #65
@Sef1995 would you mind clearing your browser cache as @lkraav noted and confirm if the issue is still occurring?

[2019-02-12 18:40] lkraav commented on #64
But that's exactly what's currently happening, if you filter `robots` query variable to get through restriction.

Of course, with no filter in place, robots.txt queries get redirected to whatever the configuration, but I believe that's not optimal either.

[2019-02-13 09:56] Sef1995 commented on #65
Hi guys, thanks for getting back to me. When using an incognito browser or indeed, when clearing the browser cache it doesn't happen anymore.

[2019-02-13 09:56] #65 closed

[2019-03-27 14:41] adamsilverstein opened #69 "Site visibility options available even when visibility enforced across network"
When setting up RSA on a network install, going to My Sites -> Network Admin Settings->Network Settings, RSA offers an option to "Enforce the settings below across all sites". With this checked, all sites in the network should use the settings here without an option to change them. In my testing, the settings were enforced across the network, however the settings panel that enables changes per sit

[2019-04-03 19:08] helen commented on #69
I think https://github.com/10up/restricted-site-access/pull/75/commits/32b14873f9d1776859cd59eaf8d092583f9cab8b in #75 should fix this

![Screen Shot 2019-04-03 at 1 07 15 PM](https://user-images.githubusercontent.com/906334/55505931-793d3d00-5611-11e9-87ba-bf892b728986.png)

[2019-04-04 02:28] helen commented on #46
Punting this from 7.1.0 (was hoping to solve in #75), I have no idea what makes the settings sections output the way they are. RSA has `admin_init` at priority `1` but that doesn't seem to make a difference. I'm probably just missing something about `register_setting()` but I don't want to hold up a new release of this plugin over a relatively minor and uncommon UI bug.

[2019-04-04 17:41] helen commented on #63
I think I would expect this kind of constant to filter `blog_public`'s value rather than hooking into an RSA filter that short-circuits before checking IP addresses and other settings. It's also confusing in terms of the settings UI, which needs to indicate that it's enforced on/off while still allowing settings like where to redirect to to be set. I have not finished my thought process yet but we

[2019-04-09 15:04] rmccue commented on #39
No worries, if you need anything else to replicate let me know.

The specific way to fix this is up for debate really. Right now, the checks for if a user has access are binary, and there's no distinction between logged-in-but-no-access and not-logged-in there. Might be worth changing that, or it might be worth handling it only for the login redirect specifically.

[2019-04-09 17:09] #69 closed

[2019-04-09 17:10] #57 closed

[2019-04-09 21:56] adamsilverstein commented on #63
Good point - perhaps worth adding a new filter to specifically alter only that value? Happy to work on this once we decide on a plan for the functionality.

[2019-04-11 20:02] #52 closed

[2019-04-11 20:09] helen commented on #55
Punting this out of 7.1.0 because it's not really tied to a milestone and I want to continue using it as an umbrella for implementing WP Acceptance tests and hopefully reducing the fragile HTML-based tests.

[2019-04-11 20:26] helen commented on #55
Also a note that `Gruntfile.js` references a `phpunit-boostrap.php` that doesn't seem to exist anymore.

[2019-04-11 20:43] #63 closed

[2019-04-11 21:15] jeffpaul opened #81 "Test against WordPress 5.2"
**Is your enhancement related to a problem? Please describe.**

Ensure RSA 7.1.0 (or current version as of testing) works with WordPress 5.2 (or current version as of testing).

**Describe the solution you'd like**

Test to ensure no issues with core and Gutenberg, then update the "Tested up to" field (see: https://wordpress.org/plugins/restricted-site-access/).

**Designs**

n/a

**Describe alter

[2019-04-15 20:56] jeffpaul opened #83 "Add WP Acceptance test coverage"
**Is your enhancement related to a problem? Please describe.**

In order to have an even higher level of confidence in releasing, we should add WP Acceptance tests for Restricted Site Access.

**Describe the solution you'd like**

- [ ] Add and configure [WP Acceptance](https://github.com/10up/wpacceptance)
- [ ] Add tests for WP Acceptance

**Designs**

n/a

**Describe alternatives you've conside

[2019-05-01 15:59] jeffpaul commented on #64
@lkraav after internal discussion, our intention is to keep the functionality of Restricted Site Access as-is in relation to this issue.  We'll work to update our documentation and readme files in a related PR to more clearly reflect this.  Thank you for calling this to our attention, you're helping to ensure we're best representing Restricted Site Access to the community!

[2019-05-21 02:49] #81 closed

[2019-06-12 17:17] umerhassan opened #87 "Unrestricting Recover Password Page"
I always send users to Login page if they are not logged in. Login page has link to Recover Password page. I want to unrestrict that page. I tried following code in functions.php but it's not working.

add_filter( 'restricted_site_access_is_restricted', 'my_rsa_feed_override', 10, 2 );

function my_rsa_feed_override( $is_restricted, $wp ) {
	$pagename = get_query_var('pagename');
	if ( $pagename =

[2019-06-14 17:35] umerhassan commented on #87
Solution:

For those of you struggling to exclude a page from being restricted or recover password link not working, add this to functions.php file. Change pagename to whatever page you want to exclude.

add_filter( 'restricted_site_access_is_restricted', 'my_restricted_check' );
function my_restricted_check( $is_restricted ) {
    global $wp;
    if (
    	$wp->query_vars['pagename'] == 'recover'

[2019-06-18 18:27] jeffpaul commented on #87
Reopening this as a task to update our docs to more clearly call out this usage.

[2019-06-19 19:21] jeffpaul opened #88 "readme updates"
**Is your enhancement related to a problem? Please describe.**
It's not obvious the level of support provided for this repo, so let's add some clarification.

**Describe the solution you'd like**
- [x] add version badge
- [x] add support level section & badge
- [x] add license badge

**Designs**
n/a

**Describe alternatives you've considered**
none.

**Additional context**
n/a

[2019-06-21 01:57] #88 closed

[2019-07-11 06:47] iSpaceGitHub commented on #64
My goal using the Restricted Site Access plugin was to a) restrict site access based on IP address, and b) stop search engines crawling the website. I was surprised to find out that A) was working fine, but the website was still being crawled by Google. Each search result then ended in a 404. In my opinion it would be much better if the site was not crawled at all, or that you have a choice (altho

[2019-07-11 17:51] jeffpaul opened #90 "Update plugin graphics"
**Is your enhancement related to a problem? Please describe.**
The images used for Restricted Site Access should ideally be brought in line with the style and approach of 10up's plugins on WordPress.org.

**Describe the solution you'd like**
New.  Improved.  Wonderfuliferousness images.

**Designs**
Forthcoming.

**Describe alternatives you've considered**
none.

**Additional context**
none.

[2019-07-31 19:29] aaemnnosttv opened #92 "Page caching notice contains escaped HTML"
**Describe the bug**

The page caching notice contains HTML which is then escaped when output.

https://github.com/10up/restricted-site-access/blob/9bba5675d8293c14eb321574d7d749856ab422e3/restricted_site_access.php#L783

**Screenshots**
![image](https://user-images.githubusercontent.com/1621608/62241741-0cc52580-b3da-11e9-9fcf-85bfbb7abd0a.png)

**Environment information**
10uplabs

[2019-07-31 20:39] jeffpaul opened #93 "Wrong reference in issue template"
**Describe the bug**
@aaemnnosttv noted that https://github.com/10up/restricted-site-access/blob/develop/.github/ISSUE_TEMPLATE/1-bug-report.md references an incorrect plugin name.  We should update that correctly to Restricted Site Access.

[2019-08-01 16:19] jeffpaul commented on #92
Thanks for the heads up @aaemnnosttv, would happily get a PR through review if you've got time!  Otherwise I've milestoned this for our next scheduled release though that's currently not set with a specific timeline.

[2019-08-06 15:09] #93 closed

[2019-08-13 15:56] jeffpaul commented on #83
Closed by #86.

[2019-08-13 15:56] #83 closed

[2019-08-13 16:02] jeffpaul opened #95 "Plugin prevents new users from getting setup email from WP"
**Describe the bug**
Received a report that there is an issue with the plugin that is preventing new users from getting their setup email from WP.

**Steps to Reproduce**

1. Select “Restrict site access to visitors who are logged in or allowed by IP address” under the `Site Visibility` section under `Settings` > `Reading`.
2. Create new user.
3. The email activation link doesn’t work.

**Expected

[2019-08-13 16:02] jeffpaul commented on #95
I'm working to replicate this and confirm the bug, stay tuned.

[2019-08-13 17:08] jeffpaul commented on #95
Possibly related to  #87?

I've so far been unable to replicate locally, but will keep testing to see if I can find a way to replicate.

[2019-08-13 17:46] adamsilverstein commented on #95
@jeffpaul I was unable to reproduce this locally. In my testing the reset email worked as expected.

Can you elaborate on what part did not work with the reset link?

### Testing steps

1. Enable RSA and restrict site access
2. Add a new user, sending them an email.
3. Copy link from email and open in an incognito window.
4. You should see the password reset modal, reset your password, then log in

[2019-08-13 17:46] adamsilverstein commented on #95
Marking as invalid, suggest we close unless we get additional steps to reproduce.

[2019-08-14 16:53] jeffpaul commented on #95
@adamsilverstein, note that this may be tied to VIP environments so worth checking into oddities there.

Also, the following info came in via @tott's help in troubleshooting:

[2019-08-16 15:29] paulschreiber opened #96 "API for adding and removing IP/label pairs"
It would be useful to be able to programmatically add (and remove) IP addresses and labels from the settings.

Currently, you can do so via a web browser or via a CLI, but not via code.

**Describe the solution you'd like**
[code]

`$ip_list` can be an array of IPs:
[code]

`$ip_list` can be an array of IP/label pairs:
[code]

This is similar to how the CLI works.

**Additional context**
We want t

[2019-08-16 16:02] jeffpaul commented on #96
@paulschreiber welcome to Restricted Site Access and thanks for the feedback, it's greatly appreciated!  Your usage and approach makes sense, I'm milestoning this for our next release that's currently unscheduled but will keep you posted here on any progress via PRs and eventual merge into a release.  Have a great weekend, thanks again!

[2019-08-16 16:05] paulschreiber commented on #96
@jeffpaul do you want me to start a PR? Or do you think you'll have time to work on this soon?

[2019-08-16 16:08] jeffpaul commented on #96
@paulschreiber if you're able to work up a PR, that would be very welcomed and should get through review quickly.

[2019-08-17 22:14] adamsilverstein commented on #95
I dug into this issue a bit and concluded that it is highly unlikely that this is a conflict with RSA because RSA interacts with WordPress **after the new new user/reset pass links are handled**. in short, we can’t interfere with this process from what i see.

Everything worked as expected in my testing, can you provide any additional steps to reproduce?

Why do you suspect that the conflict/issue

[2019-08-22 21:35] TheLastCicada commented on #92
Was just coming here to report the same bug :)

[2019-08-29 13:56] jeffpaul commented on #95
Closing this based on @adamsilverstein's research, happy to re-open if additional information is made available.

[2019-09-05 18:29] jeffpaul commented on #90
Resolved by #91

[2019-09-05 18:29] #90 closed

[2019-09-11 05:06] Lucifer-555 opened #97 "Restrict Access to Specific IP Address"
We are into Startup Company,and we are using Collabarators feature to add developers in our Github Organization and give access to the Repository,we want to restrict access to any github Repository with their Specific System IP Address,how can we implement feature.

[2019-09-17 03:55] adamsilverstein commented on #92
Posted a fix in https://github.com/10up/restricted-site-access/pull/99 for review.

[2019-09-17 17:33] #92 closed

[2019-09-17 18:48] #39 closed

[2019-09-17 20:31] helen commented on #64
Seems like that `Disallow` directive will be removed in WordPress itself soon: https://make.wordpress.org/core/2019/09/02/changes-to-prevent-search-engines-indexing-sites/

Perhaps we should think about the meta tag a bit more? Not sure it that's actually better covered by something like an SEO plugin though. Would be worthy of a separate issue to discuss.

[2019-09-18 02:06] jeffpaul commented on #97
@Lucifer-555 this repo is a plugin for WordPress that limits access to visitors who are logged in or allowed by IP addresses; this repo does not affect anything related to GitHub.  I'm not aware of any GitHub feature that would restrict repo access based in IP Address, though its feasible that [GitHub Enterprise](https://github.com/enterprise) does support this somehow; I'd recommend c[ontacting t

[2019-09-18 16:01] pattonwebz commented on #38
Hey, this one had slipped my mind but I'll look to get this resolved this week in time for the 7.2.0 milestone :)

[2019-09-18 16:18] jeffpaul commented on #38
@pattonwebz that's wonderful, many thanks!

[2019-09-19 15:14] ivankruchkoff commented on #96
Hi @paulschreiber,

Just a follow up, have you started on a PR? If you haven't, I'm happy to have a look.

[2019-09-20 13:09] paulschreiber commented on #96
I have not yet started a PR.

[2019-09-22 17:27] pattonwebz commented on #38
Some additional notes:

When this issue was opened there was no direct escape on the message that is output. Better escaping was applied to the message since then in this commit: https://github.com/10up/restricted-site-access/commit/ee8289e893d5822a4fdfe67504844c044bc75600

[2019-09-24 17:00] ivankruchkoff commented on #96
Ok @paulschreiber I'll take a look and get something out the next few weeks. I'll post an update here when we have something to work with and would appreciate your help in testing it.

[2019-09-27 23:40] ivankruchkoff opened #103 "Off by one on comments saving"
Our comment index is off by one compared to allowed IPs, so the label for $allowed[n] is $comment[$n+1]

**Steps to Reproduce**
1. wp option delete rsa_options
2. open /wp-admin/options-reading.php
3. hit save

**Expected behavior**
wp option get rsa_options should return:
[code]

instead the 'comment' is
[code]

**Additional context**
While the visual interface correctly gives us the mapping from

[2019-09-27 23:47] ivankruchkoff commented on #103
There are a few things we can do here:
1. Leave as is
2. Ignore the first submitted comment as its the template val which is hidden.
3. Change the name attribute on the template to anything else and set it to rsa_options when we make a copy.

If we go with 2/3 we'd need to provide a transparent upgrade path so nothing breaks for the end user, something along the lines of:
[code]

[2019-09-27 23:53] ivankruchkoff commented on #103
Data + screenshot to make it clearer what the issue is

[code]

<img width="435" alt="Screenshot 2019-09-27 16 52 21" src="https://user-images.githubusercontent.com/373931/65808126-3df67380-e147-11e9-88e2-6a4be5692250.png">

[2019-09-30 18:13] ivankruchkoff commented on #96
@paulschreiber want to take a look at #104 ?

Only difference I've made is that IP addresses are always array values, comments (IP labels) are always array keys and are optional, so you can:

[code]

Which allows us to always treat array values as IP addresses. Set IPs works the same, and remove_ips doesn't take labels so you can't:
[code]

[2019-09-30 19:37] paulschreiber commented on #96
@ivankruchkoff That looks great! Thanks.

[2019-10-07 14:59] adamsilverstein commented on #38
Can we switch this escaping to use `wp_kses_post` to enable additional tags? I'll give this a test.

[2019-10-07 15:36] pattonwebz commented on #38
@adamsilverstein swapping to `wp_kses_post` or even to just `wp_kses` (as it still would hit that during savetime) would allow more tags to be usable here.

It think the escaping changes in PR at #102 has gotta be bordering on the minimum changes needed to allow the extra tags that match what is in the quick edit toolbar.

[2019-10-08 20:58] jeffpaul opened #105 "Restricting mobile device access"
**Is your enhancement related to a problem? Please describe.**
A question on **Restricting access by IP when users are mobile** was asked on the WordPress.org forum:

The client owns a “black car” service and arms every driver with an iPad in the vehicle. The client is setting up a Knowledge Base for the drivers so that they can use WordPress to access information from the WordPress site. I guess

[2019-10-09 18:09] tonyzeoli commented on #105
I'm watching here for the discussion. Thanks @jeffpaul

[2019-10-09 22:30] #38 closed

[2019-10-19 04:06] tonyzeoli commented on #105
@jeffpaul Someone in the Advanced WordPress Group on Facebook suggested I install certificates on the iPad and only iPads with signed certificates will be able to access the site. I'm not sure about the mechanics of this, but just passing along this information.

[2019-11-04 03:13] paulschreiber commented on #96
@ivankruchkoff Any updates here? Should I try and make the above change?

[2019-11-05 14:24] ivanlopez commented on #95
I was able to reproduce a similar issue when the site is a multisite install. When a new user is invited to a site they receive an email with a link to activate their account (http://mydomain.local/wp-activate.php?key=randomkey). If Restrict Site Access is enabled WordPress redirects them to the login screen without activating their account. User tends to try and reset the password at that point b

[2019-11-05 16:52] jeffpaul commented on #95
@adamsilverstein did you happen to test in multisite when investigating this earlier or a single instance?  Seems like @ivanlopez _can_ reproduce this on multisite, which is weird that multisite handles this flow differently than a single instance but not impossible.

[2019-11-05 16:57] adamsilverstein commented on #103
@ivankristianto Good catch, finally seeing this now! I think number 2 and your on the fly fix is a good solution, I'll work on a PR.

[2019-11-21 17:29] #103 closed

[2019-11-22 02:55] helen commented on #96
@paulschreiber I'm sorry I didn't circle back around to this sooner - is there anywhere you're imagining this being used outside of the CLI commands?

I'd like to get a release out before Thanksgiving so if we can use these functions now that would of course be better, but if not, would you be okay with 7.2.0 going out with #104 as-is and we make use of them within the plugin later?

[2019-11-26 19:51] jeffpaul opened #108 "Test against WP 5.3"
**Is your enhancement related to a problem? Please describe.**
Now that [WordPress 5.3 is released](https://wordpress.org/news/2019/11/kirk/), we'll want to test Restricted Site Access to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Restricted Site Access on WP 5.3
- [x] open issues for any incompatibilities noted in testing
- [x] resolve issues identif

[2019-11-27 20:58] helen commented on #96
I'm going to take this out of the 7.2.0 milestone so we can go ahead and get that release out for now, and then we can return to this later so we don't have a weird in-between with multiple code paths. @paulschreiber if you find time to tackle building on top of the PR in #104 before we get to it just let us know!

[2019-11-27 21:15] helen commented on #108
Working fine, will handle in #101

[2019-11-27 22:17] #108 closed

[2019-12-02 20:07] jeffpaul commented on #87
@umerhassan the Lost Password page should be available as part of the Login page.  If that's not working, then it's likely an alternate plugin / caching that's causing this problem.  Are you still experiencing this issue?

[2019-12-13 18:34] jeffpaul commented on #95
Confirming that things work as expected within a single WP instance as the activate email URL (http://rsa.local/wp-login.php?action=rp&key=randomkey&login=username) works fine, the login works fine, and the password reset all works fine.  Confirming these tests were done without any IPs filtered for access (e.g., mine).  I'll test on multisite next.

[2019-12-13 18:51] jeffpaul commented on #95
Confirming the steps from @ivanlopez does appear to note a bug in RSA.  Explicit note that this bug occurs ONLY with the `Add New User` invite and NOT with the `Add Existing User` invite (http://subdomain.multisite.local/newbloguser/randomkey/).

[2020-01-18 16:46] eightam opened #109 "get_client_ip_address detects Server IP if on Cloudflare"
**Describe the bug**
If the website is served through Cloudflare DNS, all the headers listed in get_client_ip_address() are filled with the server IP address. Then the plugin doesn't work and is actually a "security risk" for inexperienced users (for example if the "Add My Current IP Address" button is clicked in the settings, the servers IP address is added which leads to a fully accessible site

[2020-01-22 15:14] jeffpaul commented on #109
Welcome to Restricted Site Access and thanks for the feedback and potential solution @eightam!  If you're able to work up a PR to resolve this, then I'd gladly get that through review and into the next milestoned release.

[2020-01-29 19:31] jeffpaul commented on #87
@umerhassan are you still experiencing this issue?

[2020-01-29 19:33] jeffpaul opened #111 "Adding feature to restrict direct access to media files by IP"
**Describe the bug**
 We received the following from "standoutsites" on [WordPress.ORG](https://wordpress.org/support/topic/adding-feature-to-restrict-direct-access-to-media-files-by-ip/):

**Steps to Reproduce**

See above

**Expected behavior**

No files should be accessible by disallowed IP addresses.

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and version:
 - Res

[2020-02-03 13:15] dinhtungdu commented on #95
@jeffpaul Can you check this issue again with multisite, I can't reproduce this issue with single and multisite setup (subdirectory). Tested with WP 5.3.2.

The activation link works as expected: https://prnt.sc/qwuzs4

[2020-02-03 15:55] #97 closed

[2020-02-03 15:59] jeffpaul commented on #95
@dinhtungdu and you tested that using the `Add New User` invite flow?

[2020-02-03 22:12] dinhtungdu commented on #95
@jeffpaul yes, I used `Add New User`.

[2020-02-05 03:41] dinhtungdu opened #112 "Support complicated network"
**Describe the bug**

For some complicated network, the [`get_client_ip_address()`](https://github.com/10up/restricted-site-access/blob/develop/restricted_site_access.php#L1464-L1495) function returns wrong IP address.

IMO, it's impossible to cover all kind of network architecture, so we can add a filter to `$headers`, it will let developers control the headers to get the correct IP address in th

[2020-02-05 05:14] jeffpaul commented on #112
@dinhtungdu maybe I'm misunderstanding the issue, but if someone knows their correct IP address on their network, can't they manually add that via the plugin already?

[2020-02-05 05:18] dinhtungdu commented on #112
The problem is that our plugin detects the wrong IP ( the IP of varnish ) instead of the real client IP.

[2020-02-21 17:20] dsXLII commented on #105
I guess I don't really understand the problem that this is trying to solve. If the site already requires authentication, what additional benefit is gained from adding "oh and also you can only access the site from these specific devices"? Even if you could restrict the site to iPads only, what's to prevent an otherwise-authorized user from, say, using her own personal iPad instead of the company-i

[2020-02-21 17:42] tonyzeoli commented on #105
We found a plugin for WordPress that will send an SMS text with only a single login password so anyone registered with the system will get that login upon request and access the private site. But thanks for your input here. I appreciate the discussion.

[2020-02-24 20:25] jeffpaul commented on #105
@tonyzeoli sounds like you've been able to handle this via another plugin and no longer are looking for an enhancement to Restricted Site Access, so I'm going to close this issue.  If you happen to still need something for Restricted Site Access, then feel free to comment/re-open this issue... thanks!

[2020-02-24 20:25] #105 closed

[2020-02-24 21:35] tonyzeoli commented on #105
Yes, we did find another solution that is outside of the scope of this
plugin and solve the problem in another way. Thanks!

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks.com
Whatsapp 9177054700
Skype tonyzeoli
<http://

[2020-02-28 01:34] #96 closed

[2020-02-28 14:36] Kalianey opened #114 "Update docs to note how to grant access to APIs"
I used the filter posted in another issue but it didn't change anything, I still cannot access my api, which was working fine before I activated site restricted. Could you help? Here is the filter:

`add_filter( 'restricted_site_access_is_restricted', function( $restricted ) {
	if ( defined( 'REST_REQUEST' ) && REST_REQUEST ) {
		return false;
	}
	return $restricted;
} );`

[2020-02-28 17:18] jeffpaul commented on #114
@Kalianey when you enabled Restricted Site Access, what settings did you choose that's currently blocking access to your API?

[2020-02-28 22:25] Kalianey commented on #114
I chose to restrict access to only logged in users. I tried to do basic auth before accessing the api but it works only if I deactivate the plugin... Here is a screenshot of my config (sorry it's in french)

<img width="906" alt="Capture d’écran 2020-02-28 à 23 23 58" src="https://user-images.githubusercontent.com/12571262/75592002-7517da80-5a81-11ea-84f0-a904fff8f8c9.png">

[2020-03-04 17:03] rsd opened #115 "External source for IP addresses?"
Hello,

I would like to allow access through an IP whitelist externally generated.
The rationale is that most users will be in known dynamic IP address (acquired by DDNS and other ways).
What is the best way to add these IPs into RSA? text file? DB insertion?

thanks,
-rsd

[2020-03-05 21:33] jeffpaul commented on #95
@dinhtungdu testing with subdomain multisite and Add New User definitely shows this issue as valid.  Here's a sample screencast: https://cloudup.com/cWoKkaQvall

[2020-03-06 03:51] dinhtungdu commented on #95
@jeffpaul I see, I tested with subdirectory only, haven't tested with subdomain yet.

[2020-03-06 11:59] dinhtungdu commented on #95
I confirm that this issue happens on both types of multisite setup, there must be a problem with my previous test.

[2020-03-06 18:54] jeffpaul commented on #114
Ah, ok, I get it now.  How are you authenticating to access that API?

[2020-03-06 21:02] Kalianey commented on #114
I tried authenticating with Basic Auth and oAuth without success, finally I switched to JWT and it works.

[2020-03-06 22:08] jeffpaul commented on #114
@Kalianey meaning you're using the Application Passwords plugin or that you're using something like https://github.com/WP-API/jwt-auth?

[2020-03-06 22:30] Kalianey commented on #114
I'm using WP-API/jwt-auth. The application password plugin was not working as well.

[2020-03-07 01:43] jeffpaul commented on #114
@Kalianey would you mind sharing details of your setup for JWT as I'd love to include that in our documentation for anyone trying to ensure access to the REST API functions while utilizing Distributor?

[2020-03-07 03:51] dinhtungdu commented on #115
I'm against using a text file because of security concerns.

For your issue, you can try creating a REST API endpoint to update `rsa_options` in `wp_options` table. That endpoint should be called by specific IPs only.

If creating files dynamically is convenient for you, you can create a php file to hold your IP (use this [constant](https://github.com/10up/restricted-site-access#how-can-i-programm

[2020-03-07 07:19] Kalianey commented on #114
Sure. I used this plugin https://wordpress.org/plugins/jwt-authentication-for-wp-rest-api/

I added in .htaccess:
`RewriteEngine on
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1`

In wp-config I added this:
`define('JWT_AUTH_SECRET_KEY', 'your-top-secret-key'); //that you can choose
define('JWT_AUTH_CORS_EN

[2020-03-07 22:57] rsd commented on #115
great!

[2020-03-07 22:57] #115 closed

[2020-03-12 11:31] Kalianey commented on #114
Actually it's not working anymore, instead of returning the token in json now I get the home page in html. I haven't changed anything in my config, if I get the token by disabling the extension and set it manually in the headers it works with the extension enabled, but there is no way to get the token. This is really a big issue, please investigate.

[2020-03-19 08:52] dinhtungdu opened #117 "RSA affects other plugins that use jQuery UI Dialog"
**Describe the bug**

Our plugin may affect other plugins that also use the jQuery UI Dialog. We're using common/generic selectors to set up our dialog, which leads to unexpected behavior in other plugins.

**Steps to Reproduce**

See the original report: https://wordpress.org/support/topic/recent-version-interfering-with-jquery-ui-dialog-box-title-bar

**Expected behavior**

RSA should not affect

[2020-03-20 01:58] jeffpaul opened #118 "Test against WP 5.4"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.4 is released, we'll want to test Restricted Site Access to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [ ] test Restricted Site Access on WP 5.4
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version

[2020-03-23 19:41] jeffpaul opened #119 "Release version 7.3.0"
This issue is for tracking changes for the 7.3.0 release.  Target release date: **TBD**.

### Pre-release steps
- [x] review #116 to determine if it's good to merge or should be punted
- ~[ ] review #113 to determine if it's good to merge or should be punted~
- [x] if 7.3.0 won't get released until after 31 March 2020, then consider testing and bumping for #118
- [x] @dinhtungdu & @Sidsector9: mig

[2020-04-13 10:20] dinhtungdu commented on #51
@helen I think we can close this issue. I went through translations, they're internationalized properly now.

[2020-04-21 23:11] kopepasah commented on #111
Spoke with @jeffpaul and I will take on debugging this issue. Have time on Friday committed and will report back once that is complete.

[2020-04-21 23:12] kopepasah commented on #117
Spoke with @jeffpaul and I will take on debugging this issue. Have time on Friday committed and will report back once that is complete.

[2020-04-29 19:01] kopepasah opened #124 "Improve Composer Support"
**Is your enhancement related to a problem? Please describe.**
Somewhat.

As an outside contributor, it would be beneficial if the project included a more robust Composer setup which setup the project for an engineer (as much as possible) simply by running `composer install`.

**Describe the solution you'd like**
Rework the `composer.json` configuration to improve both the information and programa

[2020-05-05 12:21] lkraav opened #125 "7.2.0: PHP Notice Trying to access array offset on value of type int"
**Describe the bug**
Added first Unrestricted IP address to whitelist. Subject PHP Notice was triggered.

Traceback:

[code]

**Steps to Reproduce**

1. Fresh site and plugin installation, PHP 7.4.
2. Add IP to list
3. Click Save Changes.
4. See Query Monitor light up.

**Expected behavior**
Notice-free data save.

**Screenshots**

**Environment information**
 - Device:
 - OS:
 - Browser and versi

[2020-05-05 21:30] kopepasah commented on #111
Just posting an update there that investigation into this task was pushed back. Picking back up this week, most likely Thursday or Friday.

[2020-05-07 02:23] jeffpaul commented on #125
Thanks for the bug report @lkraav, if you're able to similarly work up a PR to resolve this I'd gladly get it through review and towards a merge.  Otherwise I've tagged this as `help wanted` and milestoned for our next release in hopes of getting a PR into that release.

[2020-05-07 10:54] lkraav commented on #125
Diagnosis: https://github.com/10up/restricted-site-access/blob/7.2.0/restricted_site_access.php#L1164-L1170 initial setup is broken

On fresh installs, we do `self::$rsa_options['redirect_path'] = 0`, then immediately access `self::$rsa_options['redirect_path']['label']`

This change originates from BC times so "why" is probably out of reach https://github.com/10up/restricted-site-access/commit/9d

[2020-05-08 11:09] dinhtungdu commented on #125
@lkraav I think we use the wrong variable here, it should be `self::$fields` but not `self::$rsa_options` at [line 1170](https://github.com/10up/restricted-site-access/blob/7.2.0/restricted_site_access.php#L1170).

[2020-05-14 02:01] #117 closed

[2020-05-15 03:56] kopepasah commented on #111
Finally had a chance to take a look at the request, which can be broken down into two different requests:

1. Restrict direct access to media files.
2. Restrict access to the login page by IP address.

## 1. Media Files

Restricting direct access to media files may be out of scope for this plugin, as it would require server specific restriction requirements. In addition, if a site is using a CDN,

[2020-05-15 03:57] kopepasah commented on #124
@jeffpaul I can take on this issue.

[2020-05-15 20:37] PypWalters opened #127 "IP Range Check & Calculator"
**Is your enhancement related to a problem? Please describe.**
If a user were to enter in an IP range incorrectly like 123.456.2.0/99, it actually unlocks the entire site. There is no warning or indication that the range was entered incorrectly and probably wouldn't be discovered until an admin user accidentally discovers that their site was no longer hidden.

**Describe the solution you'd like**

[2020-05-15 22:10] jeffpaul commented on #127
Huh, interesting find @PypWalters.  Any chance you could craft a PR to cover a solution for step 1 as that seems like the minimal we should attempt to do to help users?

[2020-05-18 13:13] PypWalters commented on #127
Sure, I can take a look later this week.

[2020-05-18 18:53] jeffpaul commented on #111
@kopepasah thanks for the research and thoughts on approach, its greatly appreciated!  After checking internally, it sounds like both of these scenarios are not areas expected to be covered by the scope of Restricted Site Access.  For folks looking to restrict direct access to media files, that is best handled by a server config as you noted.

[2020-05-18 18:53] #111 closed

[2020-05-21 01:22] kopepasah commented on #124
@jeffpaul I took some time to look at this today and these errors are coming upstream from WP Acceptance. I created [an issue](https://github.com/10up/wpacceptance/issues/25) in that repo to discuss.

I went ahead and finalized the Composer file for this repo and while it does provide a little more information regarding the repo and Composer, the error still persists from WP Acceptance.

See [pull

[2020-05-28 03:17] #118 closed

[2020-06-12 04:37] dinhtungdu commented on #114
Hi @Kalianey, I know this is late but can you try applying this solution to solve your issue? https://wordpress.org/support/topic/contact-form-7-not-working-57/#post-12485162

[2020-06-13 07:58] dinhtungdu commented on #64
As I understand, Google will remove redirected URLs from its results eventually. But to achieve that we need to allow Google to index the site, it needs to know about redirects we have. So RSA enabled sites shouldn't be controlled by `robots.txt` which prevents search engines from detecting the redirections.

Let's examine all RSA options:

- `Send them to the WordPress login screen` and `Show the

[2020-06-13 17:25] umerhassan commented on #87
@jeffpaul I solved it.

[2020-06-13 17:25] #87 closed

[2020-08-11 02:16] jeffpaul opened #134 "Test against WordPress 5.7"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.7 is released, we'll want to test Restricted Site Access to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Restricted Site Access on WordPress 5.7
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [x] bump "tested up to"

[2020-10-05 03:59] Beatific-Angel commented on #39
![image](https://user-images.githubusercontent.com/64799935/95039013-1f379f00-0702-11eb-9a8c-5ae318b4d00d.png)
i want know the way to solve this problem

[2020-10-05 06:06] roytanck commented on #39
Does the user you're trying to access the dashboard with have a role on the "anna15" site? The "Your sites" section seems to indicate that the user only has a role on two other sites within the network.

[2021-01-04 16:19] #125 closed

[2021-01-04 16:28] #51 closed

[2021-01-26 19:49] #124 closed

[2021-02-03 02:48] #95 closed

[2021-02-12 07:19] isvaljek opened #135 "Exclude Page or URL from restriction"
Is there a way to exclude a certain Page or wp-json endpoint from restricted access?

[2021-02-12 16:20] jeffpaul commented on #135
@isvaljek we have an answer for that in our readme, you can see that here: https://github.com/10up/restricted-site-access#how-do-i-allow-access-to-specific-pages-or-parts-of-my-site

[2021-02-12 16:52] isvaljek commented on #135
I'm sorry for the issue, I tried searching on the Wordpress.org site, I wasn't using the right keywords.

[2021-02-12 18:08] #135 closed

[2021-03-03 18:52] mikelking opened #136 "Add wp-cli option to modify and retrieve the entry labels"
### Problem

The current WP-CLI interface is incomplete. As demonstrated by the web interface screenshots included below each entry allows for the addition of a descriptive label helping to identify the IP address use case.

#### Example list
Executing `wp rsa ip-list` yields a list of IP addresses like the following:
![image](https://user-images.githubusercontent.com/1437672/109852966-5fed0300-7c

[2021-03-03 19:36] jeffpaul commented on #136
@mikelking your suggestions all seem reasonable and worthwhile to me, though I might suggest we separate out the import feature (number 4 in your list) and handle that after more closely aligning the CLI commands with the web functionality.  I'm going to milestone this for 7.4.0 as I'm hoping to bundle up most of what's in `develop` with PRs that are good to merge as 7.3.0.  I'm also going to tag

[2021-03-03 19:45] mikelking commented on #136
Hey @jeffpaul

Sounds good.

I recently pulled the repo and will see if I can acclimate myself to this and potentially help out in some fashion.

[2021-03-10 17:18] grappler opened #137 "Display page content on the homepage instead of redirecting"
**Is your enhancement related to a problem? Please describe.**
For not login users I would like to show a landing page while the website is being worked on. Once the user is logged in the normal homepage should be shown. The advantages would be that the user is not redirected and it would be nice if the user stayed on the homepage URL instead of to a page url.

**Describe the solution you'd like**

[2021-03-10 17:27] jeffpaul commented on #137
@grappler I'm not sure I understand how your use case would not be served by the "Show them a page" option where the content on that page is the landing page you want shown to non-logged-in users.  Could you please provide a little more detail to help me better understand?

[2021-03-16 03:06] pabamato opened #138 "Filter option setting the wrong value when RSA_FORBID_RESTRICTION is defined"
**Describe the bug**
As per the core settings, the values for the `site_public` option should be set to `1` for public sites and `0` for "Discourage search engines..." if an action has been added to 'blog_privacy_selector'.
The `pre_option_blog_public()` method is setting a wrong value of `1` if the constant `RSA_FORBID_RESTRICTION` is defined, it should set the value to `0`

**Steps to Reproduce*

[2021-03-19 15:08] ankitguptaindia opened #140 "UX - Add button is little confusing in plugin setting area for end user point of view."
**Is your enhancement related to a problem? Please describe.**

This is more related to user experience related to a site admin user.

This plugin has a field named `Unrestricted IP addresses` and has a button to add values. https://i.imgur.com/YJKB28T.jpg

As per the user point of view, this button looks like adding a new text field for IP address but logically it works for adding value of the fi

[2021-03-19 15:12] ankitguptaindia commented on #134
@jeffpaul

Tested this plugin stable version with WordPress 5.7 on a single site and multisite WP environment.
Working expected with WordPress 5.7.

[2021-03-19 16:24] jeffpaul commented on #140
Attaching image here for easier access/viewing:
![YJKB28T](https://user-images.githubusercontent.com/2818133/111811848-7d69d000-88a5-11eb-893a-cb66d04fcdc7.jpg)

[2021-03-23 09:40] grappler commented on #137
@jeffpaul Does the issue make sense with the additional information?

[2021-03-25 11:06] dinhtungdu commented on #138
IMO, with `RSA_FORBID_RESTRICTION` defined, setting `blog_public` option value to 1 is correct because RSA blocks search engines.

So if a site doesn't want to block search engines, RSA isn't a good solution.

cc @helen

[2021-03-30 06:06] dinhtungdu commented on #140
@ankitguptaindia Clicking `Save changes` to save single IP or range makes sense to me. Would you mind creating a PR to fix that?

[2021-03-30 06:07] dinhtungdu commented on #134
Thank you @ankitguptaindia! Do you want to create a PR to update the tested field to 5.7?

[2021-03-30 06:09] dinhtungdu commented on #136
@mikelking Are you working on the solution? If not, I can handle it.

[2021-03-31 09:48] dinhtungdu commented on #138
@pabamato, I was wrong about the value of the blog_public option. You're correct! I'm sorry about the confusion!

[2021-04-09 02:44] pabamato commented on #138
No worries, glad to contribute.

[2021-04-09 03:13] #138 closed

[2021-04-19 06:39] ankitguptaindia commented on #134
@dinhtungdu

Yes, we can release a new version with updated readme for Tested upto WP 5.7.

[2021-04-27 19:13] #134 closed

[2021-06-30 14:37] jeffpaul opened #148 "Test against WordPress 5.8"
**Is your enhancement related to a problem? Please describe.**
Once WordPress 5.8 is released, we'll want to test Restricted Site Access to see if any incompatibility issues arise.

**Describe the solution you'd like**
- [x] test Restricted Site Access on WordPress 5.8
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [x] bump "tested up to"

[2021-07-12 16:16] #148 closed, assigned to BBerg10up

[2021-08-26 09:18] Sidsector9 commented on #136
@mikelking To include labels in the output you can use the `--include-labels` flag, for example:
[code]

[2021-08-26 15:01] jeffpaul commented on #136
@Sidsector9 mind adding that to the docs if its not already noted there?

[2021-08-27 18:47] Sidsector9 commented on #136
@jeffpaul it's already documented. To see available options users can use the `--help` flag
for exampe:
[code]

[2021-08-27 21:05] Sidsector9 opened #153 "Improve input arguments for Restricted_Site_Access::add_ips function"
**Is your enhancement related to a problem? Please describe.**

The general behaviour of the plugin when adding IPs from the backend or CLI is:
1. IPs are unique
2. IPs can share the same label

But when using the method `Restricted_Site_Access::add_ips( array( 'five' => '192.168.1.5', 'six' => '192.168.1.6') );`, the labels are forced to be unique.

The CLI and the WP-admin settings allow you to

[2021-08-27 21:06] jeffpaul commented on #136
@Sidsector9 ok, I did a quick scan of README.md/readme.txt and did not immediately see that noted but if its there then great!

[2021-08-30 16:36] mikelking commented on #136
@Sidsector9

It's definitely not in the 7.2.0 version:

NAME

  wp rsa ip-list

DESCRIPTION

  Lists current IP whitelist.

SYNOPSIS

  wp rsa ip-list [--exclude-config] [--format=<format>] [--network]

OPTIONS

  [--exclude-config]
    Don't include IPs from the configuration file.

  [--format=<format>]
    Render output in a particular format.
    ---
    default: table
    options:
      - tab

[2021-08-30 16:37] mikelking commented on #136
@dinhtungdu

I got sidetracked getting my team up on a new local system. I have not had time to circle back to working on the ability to set the label when adding to the whitelist via wpcli.

[2021-08-30 18:37] Sidsector9 commented on #136
Ah! You're right @mikelking
The `--include-labels` is part of the `develop` branch at the moment.
I have raised #152 to address (2) and (3).

[2021-09-02 14:13] cadic commented on #114
@Kalianey I think the problem might be using `REST_REQUEST` constant to detect REST call is happening.

This constant is defined in `rest_api_loaded()` during `parse_request` hook with default priority 10.

`restricted_site_access_is_restricted` filter is applied inside `Restricted_Site_Access::restrict_access()` during the same `parse_request` hook but with higher priority 1. That's why `REST_REQ

[2021-09-08 03:07] #114 closed

[2021-09-21 13:18] arohman84 commented on #114
an error occur when using your code, what missing ?
[code]

[2021-09-29 10:08] Sidsector9 opened #156 "Redirecting restricted user to the specified web address causes infinite loop"
**Describe the bug**
When the **Redirect Web Address** setting is set to a URL from the same domain, it causes a redirect loop.

**Steps to Reproduce**

1. Go to `/wp-admin/options-reading.php`
2. Select **Restrict site access to visitors who are logged in or allowed by IP address** under **Site Visibility**
3. Select **Redirect them to a specified web address** under **Handle restricted visitors*

[2021-09-29 10:23] Sidsector9 opened #157 "WP_TESTS_DOMAIN constant prevents Cypress from running tests"
**Describe the bug**
The upcoming Cypress E2E tests for Restricted Site Access need to test correct redirections for restricted users.
The [@wordpress/env](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-env/) package used in the test suite defines the [WP_TESTS_DOMAIN](https://developer.wordpress.org/block-editor/reference-guides/packages/packages-env/#default-wp-c

[2021-09-29 13:27] jeffpaul commented on #157
@helen @dkotter any concerns in adjusting the constant as noted here?

[2021-09-29 16:53] dkotter commented on #157
No concerns from me, seems like a better approach anyway to detect when tests are running. We'll just want to ensure we replace all instances of `WP_TESTS_DOMAIN`, as I'm seeing a couple other uses of that beyond what is mentioned on this issue.

[2021-09-30 10:31] faisal-alvi commented on #156
Hi @Sidsector9 - I've noticed two more cases where it happens and causes infinite loop.

#### Case 1:
When the redirect url is set with `http` but the home_url is with `https`. Condition to match both URLs fails.

#### Case 2:
When user enters only the path (without domain), expecting redirects in the same domain.  Condition to match both URLs fails.

### Solution:
Condition should be improved to

[2021-10-06 13:18] #156 closed, assigned to Sidsector9, faisal-alvi

[2021-10-11 03:02] Sidsector9 opened #160 "Setup GitHub Actions for PHPUnit"
We have PHPUnit tests but we don't have Github Actions set up to run them.

As this plugin's main job is to restrict visitors, it is important that we set up tests which ensure it doesn't break at any point in time.

[2021-10-11 03:31] Sidsector9 opened #162 "Warning thrown when show simple message is selected"
**Describe the bug**
While setting up Github Actions for PHPUnit tests, a test failed due to PR #158 at line [318](https://github.com/10up/restricted-site-access/pull/158/files#diff-aec29ffebc0b551819b4a707195c1a35c538fe1fb0c91518f59c4573b5016e5cR317). When the "show simple message" option is selected for restricted users, the key "url" is not set which shows a warning on the page and also fails t

[2021-10-11 17:09] #162 closed, assigned to Sidsector9

[2021-10-12 21:45] jeffpaul commented on #109
Merged in via #110.

[2021-10-13 13:26] #160 closed, assigned to Sidsector9

[2021-10-13 13:32] #157 closed, assigned to faisal-alvi

[2021-10-18 18:26] Sidsector9 opened #164 "Cypress test: Show a page to restricted visitor"
Add a test for the following configuration:
- **Site visibility**: Restrict site access to visitors who are logged in or allowed by IP address
- **Handle restricted visitors**:  Show them a page
- **Restricted notice page**: `<Select a page>`

Test should validate the following scenarios:

- [x] Behavior when the redirect notice page isn't selected
- [x] If the restricted users are redirected to t

[2021-11-05 16:59] pedro-mendonca opened #167 "Wrong 'Redirect to same path' screen reader text with PHP error on fresh install"
**Describe the bug**

On the Settings > Reading page there is a PHP error on the `redirect_path` label.
The string is being obtained from `redirect_path['label']` key, that doesn't exist.
The `redirect_path` as other options don't have any array, are strings with the default value.

**Steps to Reproduce**

1. Go to Settings > Reading page on a fresh install
2. Click on 'Redirect them to a specifie

[2021-11-09 20:08] #167 closed, assigned to pedro-mendonca

[2021-11-16 18:34] mikelking commented on #153
Some weirdness tied to this suggestion. The docs in the current main readme state that the add_ips() method has been available since 7.1.1. The really weird part is that I am running 7.2.0 on my sites and the method does not exist in the class.

https://github.com/10up/restricted-site-access

If it is not available in the current released version then the change @Sidsector9 is recommending is less

[2021-12-08 12:21] Sidsector9 opened #170 "Inconsistent test results between local and Github Actions environment"
### Describe the bug
Tests pass locally but fail on GitHub actions. So far the cause is unknown.

- Tests pass for `WP:latest` but fail for `WP:trunk` and `WP:mininmum`
- This issue was first detected in PR #169 at specifically [this line](https://github.com/10up/restricted-site-access/pull/169/commits/7c441a76e69dd8b5f8267ce0597889f8762a1793#diff-1ea6c7ecaafd20d02274ca8cc0ecdce50425115466c06682ef

[2021-12-10 19:19] #164 closed, assigned to Sidsector9

[2022-01-04 16:44] jeffpaul opened #172 "add linting action(s)"
- [ ] add linting action
- [ ] resolve issues from linting

Noting that this is, hopefully, the final blocker in the 7.3.0 release.

[2022-01-06 08:13] sudip-md opened #173 "Test against WordPress 5.9"
**Is your enhancement related to a problem? Please describe.**

**Describe the solution you'd like**

- [ ]  test WP New Relic on WordPress 5.9
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ]  bump "tested up to" version
- [ ] if code changes needed due to incompatibilities, ship a plugin release, otherwise use "Plugin asset/readme upda

[2022-01-11 20:17] jeffpaul commented on #172
Ideally we'd have an action like https://github.com/10up/retro-winamp-block/blob/develop/.github/workflows/linting.ym in place here

[2022-01-14 13:47] Sidsector9 opened #174 "Add E2E tests for multisite"
### Description
Currently, the E2E tests don't cover a multisite installation.
It would be great to test the network settings that are inherited by all sites.

[2022-01-27 03:12] jeffpaul commented on #173
@sudip-10up @ankitguptaindia any chance you'll be able to test the `develop` branch against WP 5.9 this week?  I'm wrapping up preparations for the 7.3.0 release and would ideally like to have confirmed WP 5.9 compatibility.

[2022-01-27 03:19] jeffpaul commented on #119
### Post-release steps
- [x] remove `master` branch

[2022-01-27 03:44] jeffpaul commented on #119
@Sidsector9 once you're ✅ on the release PR, let's have you finish up the release steps to get you comfortable with handling more of the release process (we should plan to pair via zoom to ensure you're comfortable with each step along the way).

[2022-01-27 12:07] mikelking commented on #119
Do you need an release candidate usage testing?

[2022-01-27 14:17] ankitguptaindia commented on #173
@jeffpaul Cross tested this plugin with the **`develop` branch** on WordPress 5.9 Single site and Multisite environments.
I confirm this is ready to go for WP 5.9 compatibility release.  🚀

[2022-02-02 16:50] #172 closed, assigned to Sidsector9

[2022-02-02 17:31] jeffpaul commented on #119
@mikelking we just cleared the last hurdle here and will be working on getting the release prepared likely early next week

[2022-02-02 17:33] mikelking commented on #119
@jeffpaul

Certainly no worries there. Just offering to help test if needed.

[2022-02-08 03:38] jeffpaul commented on #173
Will pick up the change for this in the release PR #120.

[2022-02-08 12:54] #174 closed, assigned to nobody

[2022-02-08 14:19] #119 closed

[2022-02-08 14:19] #173 closed, assigned to jeffpaul, ankitguptaindia

[2022-02-15 20:29] mikelking opened #179 "Custom https header based whitelisting"
It would be great is RSA supported custom https header parameters to facilitate whitelisting of dynamic testing services for systems like NewRelic, GTMetrix, GitLab, Github, and CypressJS. If adopted this should be considered for the following optional scenarios.

- Standard IP address whitelisting based access granted - existing functionality
- Access granted if the header is present in lieu of I

[2022-03-24 15:32] pawelkmpt opened #182 "Redirect to login page removes `=` char from the end of the URL param"
This bug occurred to me specifically with [WP Discourse](https://github.com/discourse/wp-discourse) plugin, but it might be general issue.

When WordPress site is used as SSO provider (it's named Discourse Connect), Discourse sends users to WP with following URL params: `sso`, `sig`. It happens that `sso` value ends with `=`, so the URL looks like this: `https://wpsite.com?sso=qwerty=&sig=asdasd`.

[2022-03-24 17:00] #127 closed

[2022-03-29 22:43] smalltalkventures opened #184 "Disable Page Restriction Leads to Critical Error"
I get a critical error when trying to disable page restrictions on one or multiple pages. Here is the code I am running to let these pages through:

[code]

This is the error I get from my error_log:

`PHP Warning:  Undefined array key "pagename" in PATH/wp-content/plugins/code-snippets/php/snippet-ops.php(469) : eval()'d code on line 5`

While this does still allow these pages to load as a non-lo

[2022-04-15 13:08] vikrampm1 opened #186 "Test against WordPress 6.0"
Is your enhancement related to a problem? Please describe.
Once WordPress 6.0 is released, we'll want to test Restricted Site Access to see if any incompatibility issues arise.

Describe the solution you'd like

- [ ] test Restricted Site Access on WordPress 6.0
- [ ] open issues for any incompatibilities noted in testing
- [ ] resolve issues identified in testing
- [ ] bump "tested up to" version

[2022-04-21 18:58] Sidsector9 opened #187 "Enhancement: Refactor the HTML semantics of "Unrestricted IP addresses" settings"
### Problem

The HTML semantics for the **Unrestricted IP addresses** admin settings can be improved by restructuring and adding proper HTML classes and IDs. This will make it more convenient to write E2E tests.

Currently, the input fields and the buttons don't provide a convenient way to identify elements while writing E2E tests.

For example:

<img width="906" alt="Screen Shot 2022-04-22 at 12

[2022-05-06 20:28] jeffpaul opened #191 "Release version 7.3.1"
This issue is for tracking changes for the 7.3.1 release.  Target release date: **13 May 2022**.

### Pre-release steps
- [x] review #183 to determine if it's good to merge or should be punted
- [x] #186 to see if we can bump the "tested up to"
- ~[ ] determine if we can get a PR in quickly for #153~
- [x] determine if we can get a PR in quickly for #187

### [Release steps](https://github.com/10u

[2022-05-08 18:58] Sidsector9 commented on #184
Hi @btsmgoffical ,

By default WordPress doesn't set the query var `pagename` for non-pages.
You may want to exit early for requests that aren't for pages:

[code]

For any more support related queries, I would suggest you post them to the [Restricted Site support forum](https://wordpress.org/support/plugin/restricted-site-access/).

[2022-05-08 19:27] Sidsector9 commented on #182
Hi @pawelkmpt , thank you for raising the issue.

I've not worked with WP Discourse yet. With Discourse deactivated and your RSA settings, can this issue be reproduced by directly accessing `https://wpsite.com?sso=qwerty=&sig=asdasd`?

If so, then can you provide the steps to reproduce this issue with Discourse activated?

[2022-05-09 12:47] Sidsector9 opened #195 "Plugin is open to IP address spoofing"
### Describe the bug

The plugin uses the following function to get client's IP address:

https://github.com/10up/restricted-site-access/blob/df9226bffd67ec96e85428ea1fd5e10c3561ee5d/restricted_site_access.php#L1531-L1562

The problem is that headers such as `HTTP_X_FORWARDED_FOR` and `HTTP_X_FORWARDED` can be very easily spoofed.

After a lot of Googling and reviewing some of the popular plugins

[2022-05-09 12:51] Sidsector9 commented on #195
@dkotter I've made the following modification to the function, let me know your thoughts on it:

[code]

[2022-05-09 16:29] dkotter commented on #195
I looked through the file history to better understand the reasoning behind the current code. Looks like in #11 (Mar 2017) a proposal was put forth to change how we get IP addresses to use something similar to what we have now. The only reasoning there was to better support sites using proxy servers/CDNs.

This PR was closed in favor of #28 (merged Feb 2018). It slightly refactored the code from #

[2022-05-09 22:58] peterwilsoncc commented on #195
I think this is challenging because it would break the plugin on major CDNs. [CloudFlare](https://developers.cloudflare.com/fundamentals/get-started/reference/http-request-headers/), [CloudFront](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/RequestAndResponseBehaviorCustomOrigin.html#RequestCustomIPAddresses) and [WP VIP](https://github.com/Automattic/vip-go-mu-plugins-built/

[2022-05-10 16:05] Sidsector9 commented on #195
That's correct.

I missed to mention this would be a breaking change. Something that customers need to take into consideration before updating if we ever go ahead with this.

I am not an expert in security so I don't know the technical term for it (maybe @peterwilsoncc can help) but there's this situation where an insider leaks/sells sensitive data (in this case the unrestricted IP addresses) outs

[2022-05-11 02:51] jeffpaul commented on #186
Closed by #194.

[2022-05-11 02:51] #186 closed, assigned to nobody

[2022-05-16 15:33] pawelkmpt commented on #182
@Sidsector9 I've just tried to quickly reproduce it but didn't manage. I'll try again soon and let you know.

[2022-05-23 17:13] jeffpaul commented on #170
@Sidsector9 did #171 resolve this?

[2022-05-25 11:30] Sidsector9 commented on #184
Closing as resolved. Please feel free to reopen or as suggested, open a support ticket for quicker response.

[2022-05-25 11:30] #184 closed, assigned to nobody

[2022-05-26 12:38] #187 closed, assigned to nobody

[2022-06-08 11:23] Sidsector9 commented on #170
Jeff PR #171 seem to be unrelated to this issue. @mitogh can you please confirm?

[2022-06-28 19:34] jeffpaul commented on #182
@pawelkmpt have you been able to replicate this or not?

[2022-06-28 19:36] jeffpaul commented on #153
@Sidsector9 I see that you self-assigned on this issue.  Are you intending to open a PR to resolve or should we un-assign you and look to pull someone else with availability?

[2022-06-28 19:39] jeffpaul commented on #46
@peterwilsoncc any idea what might be causing this / best route to resolve?

[2022-06-29 05:20] peterwilsoncc commented on #46
As a temporary solution of adding a title to the settings section on this lines solves the problem as a work-around.

https://github.com/10up/restricted-site-access/blob/102c54e965484b7e6625d52ff2ccedf93a70f7db/restricted_site_access.php#L545

![Screen Shot 2022-06-29 at 3 12 21 pm](https://user-images.githubusercontent.com/519727/176356837-e24d84ec-d15b-4d47-bf33-d6228853b47e.png)

It appears to

[2022-06-29 21:22] jeffpaul commented on #191
Reopening for @Sidsector9 to help finish off releasing starting with the merge from `develop` to `trunk`.

[2022-06-30 02:30] Sidsector9 opened #203 "Resolve vulnerable dependencies"
**Describe the bug**

@wordpress/env, grunt and grunt-related modules have dependencies on few vulnerable modules which need to be resolved.

**Steps to Reproduce**
Run `npm audit`

**Expected behavior**
There should be no vulnerabilities

[2022-06-30 03:17] #191 closed, assigned to jeffpaul

[2022-06-30 05:44] #46 closed

[2022-07-12 20:09] #182 closed, assigned to Sidsector9

[2022-07-14 14:58] vikrampm1 opened #206 "Bump WordPress and PHP minimums"
Bump WP & PHP Minimums to the following

- [x] WordPress to 5.7
- [x] PHP to 7.4
- [x] Remove any no-longer-needed conditional code for older version support.
- [ ] Take a look at adjusting our testing matrices, if applicable.
- [ ] Bump the minimums in plugin documentation and header fields.

[2022-07-20 20:59] jeffpaul commented on #137
@grappler I think the best option here would be to utilize a "[maintenance mode](https://wordpress.org/plugins/search/maintenance+mode/)" sort of plugin and not an additional feature in Restricted Site Access; closing this as something we're unlikely to add to the featureset here, appologies for the slow response.

[2022-07-20 20:59] #137 closed

[2022-07-25 19:25] #112 closed

[2022-08-22 17:17] #206 closed, assigned to Sidsector9

[2022-08-25 11:13] Sidsector9 opened #208 "Release version 7.3.2"
This issue is for tracking changes for the 7.3.2 release.  Target release date: **29th August 2022**.

### [Release steps](https://github.com/10up/restricted-site-access/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`, cut a release branch named `release/7.3.2` for your changes.
- [x] Version bump: Bump the version number in `package.json`, `restricted_site

[2022-08-29 17:37] #208 closed, assigned to Sidsector9

[2022-09-12 00:04] peterwilsoncc opened #211 "Add WordPress VIP Coding Standards"
**Is your enhancement related to a problem? Please describe.**

The WordPress VIP sniffs are throwing a few warnings on this plugin.

As many of the 10up clients are on WP VIP, these ought to pass.

**Describe the solution you'd like**

Add https://github.com/Automattic/VIP-Coding-Standards sniffs to phpcs config

**Designs**

**Describe alternatives you've considered**

**Additional context**

[2022-09-12 12:34] pedro-mendonca opened #213 "Translation strings missing textdomain"
**Describe the bug**
A few translation strings have no textdomain, from the IP address input on the settings page.

**Steps to Reproduce**

1. Set your site/user language other than en_US
2. Go to the plugin 'Settings'
3. Scroll down to 'Unrestricted IP Addresses'
4. See error the two inputs untranslated

**Expected behavior**
The placeholders should be translated or translatable

**Additional hel

[2022-09-14 07:49] #211 closed, assigned to peterwilsoncc

[2022-09-14 09:35] #213 closed, assigned to pedro-mendonca

[2022-09-20 13:14] jeffpaul opened #216 "Add IPv6 support"
**Is your enhancement related to a problem? Please describe.**
Restricted Site Access allows for adding in IPv6 addresses but does not properly verify them, especially ranges.  It would be ideal to add in support for IPv6 in the plugin and CLI command(s) to allow folks on more modern network architectures to benefit from the full features of the plugin.

**Describe the solution you'd like**

**Des

[2022-10-13 11:40] #216 closed, assigned to Sidsector9

[2022-10-15 05:41] Sidsector9 commented on #170
Closing this as it is an edge case. Will reopen if the issue reoccurs.

[2022-10-15 05:41] #170 closed, assigned to nobody

[2022-10-15 05:52] Sidsector9 commented on #153
@mikelking apologies for the super late reply.

I agree with your comment. I opened this issue by reading the document and looking at the code in the `develop` branch, where the `add_ips()` method was present. 😅

Answering your question:

If we go ahead with the filter, the only area it will work is when the IPs are added through the RSA admin settings page.
This plugin provides an API to add IPs

[2022-10-15 05:54] Sidsector9 commented on #153
@mikelking apologies for the super late reply.

I agree with your comment. I opened this issue by reading the document and looking at the code in the `develop` branch, where the `add_ips()` method was present. 😅

Answering your question:

If we go ahead with the filter, the only area it will work is when the IPs are added through the RSA admin settings page.
This plugin provides an API to add IPs

[2022-10-18 16:40] #203 closed, assigned to nobody

[2022-10-27 17:41] Sidsector9 opened #219 "Release version 7.3.3"
This issue is for tracking changes for the 7.3.3 release.  Target release date: **31st October 2022**.

### [Release steps](https://github.com/10up/restricted-site-access/blob/develop/CONTRIBUTING.md#release-instructions)
- [x] Branch: Starting from `develop`, cut a release branch named `release/7.3.3` for your changes.
- [x] Version bump: Bump the version number in `package.json`, `restricted_sit

[2022-10-29 06:41] Sidsector9 opened #222 ""Redirect to same path" setting doesn't work as expected."
**Describe the bug**

Issue originally reported in the support forum:
https://wordpress.org/support/topic/redirection-no-longer-working-2/

**props:** [@mikegibbons4](https://wordpress.org/support/users/mikegibbons4/)

[2022-10-31 18:08] #219 closed, assigned to Sidsector9